#root {
  font-size: xx-small!important;
  margin: 0 ;
  padding: 5px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.ClsMain{
  display: flex;
  font-size: small;
 }
 .clsAlt{

     flex-direction: column;
     margin: 20px;
     position: relative;
     font-size: small;
     line-height: 1rem;
     
 }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

}

td,
th {
  border: 1px solid #101010;
  text-align: center;
  padding: 20px;
}
th {
  background-color: white;
  color: #101010;
}

tr:nth-child(even) {
  background-color: #484848;
  color: white;
}
.None{
  text-decoration: none;
  color: white;
  border: 0px;
  width: 100%;
}
.DetailDiv{
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
}
